/* Форма карточки.
    Меняется в зависимости от размера экрана.
    В промежутке между 800 и 1119 размеры в процентах, в остальных случаях стандарт. */
@media screen and (min-width: 1120px), (max-width: 799px){
    .card_border{
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        width: 320px;
        height: 480px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        background-color: rgb( 242, 242, 242 );
        width: 312px;
        height: 472px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        justify-content: start;
    }
}
@media screen and (max-width: 1119px) and (min-width: 800px){
    .card_border{
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        width: calc(28vw + 8px);
        height: calc(42vw + 8px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        background-color: rgb( 242, 242, 242 );
        width: 28vw;
        height: 42vw;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 799px) and (min-width: 700px) and (orientation:portrait){
    .card_border{
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        width: calc(28vh + 8px);
        height: calc(42vh + 8px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        background-color: rgb( 242, 242, 242 );
        width: 28vh;
        height: 42vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        justify-content: flex-start;
    }
}

/* Вся область карточки */
.card_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;      
}

/* Подпись под карточкой */
.card_outer-text{
    font-size: 13px;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb( 255, 255, 255 );
}
.card_outer-text__link{
    color: rgb( 22, 152, 217 );
    text-decoration: underline;
    cursor: pointer;
}
.card_outer-text__disabled{
    font-size: 13px;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb( 255, 255, 102 );
}

/* Состояния бордера и круга */
.is_disabled{
    background-color: rgb(179, 179, 179);
}
.is_default{
    background-color: rgb( 22, 152, 217 );
}
.is_hovered{
    background-color: rgb(46, 168, 230);
}
.is_selected{
    background-color: rgb(217, 22, 103);
}
.is_selected-hovered{
    background-color: rgb(230, 46, 122);
}

/* Дизейбл карточки (кроме бордера и круга) */
.is-disabled_opacity .card_info{
    opacity: 0.15;
}
.is-disabled_opacity .card_pic{
    opacity: 0.6;
}

/* Содержимое карточки */
.card_info{
    width: 210px;
    min-height: 186.5px;
    height: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Trebuchet MS", sans-serif;
    position: relative;
    margin-top: 16px;
}
.card_info p{
    font-size: 16px;
    color: rgb( 102, 102, 102 );
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 8px;
} 
.card_info h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
.card_info h3{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}
.card_info ul{
    font-size: 14px;
    color: rgb( 102, 102, 102 );
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    height: 48px;
}
.card_info li{
    /* height: 16px; */
    display: block;
}
.card_pic {
    background-image: url('../../img/funbox_logo.png');
    background-size: 118.5%;
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
    border-radius: 10px;
    position: relative;
    background-position: 50% 0%;
}
.card_weight{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_weight p:nth-child(1){
    font-size: 42px;
    font-family: "Trebuchet MS";
    color: white;
    margin: 0 auto;
    padding: 0;
}
.card_weight p:nth-child(2){
    font-size: 21px;
    font-family: "Trebuchet MS", sans-serif;
    color: white;
    margin: 0 auto;
}
  