/* Под нормальный или большой монитор */
@media screen and (min-width: 1120px){
    .card_field{
        width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Под очень маленький монитор */
@media screen and (max-width: 1119px) and (min-width: 800px) and (orientation:landscape){
    .card_field{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Под мобильные устройства */
@media screen and (max-width: 699px){
    .card_field{
        width: 360px;
        height: 1650px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 700px) and (orientation:portrait){
    .card_field{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .card_field__line{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
